<div class="masthead">
    <div class="container">
        <div class="masthead-subheading">
            ¡Bienvenidx a la Biblioteca!
        </div>
        <div class="masthead-heading text-uppercase">
            Una gran oferta de libros
        </div>
        <a class="btn btn-danger btn-xl text-uppercase text-light" href="/tienda">
            Ver Libros
        </a>
    </div>
</div>

<section id="services" class="p-5">
    <div class="container text-dark">
        <div class="text-center mb-4">
            <h2 class="section-heading text-uppercase">Nuestros Servicios</h2>
            <h3 class="section-subheading text-secondary">Explora nuestros servicios para fomentar la lectura y el aprendizaje.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Préstamo de Libros</h4>
                <p class="text-secondary">Ofrecemos un amplio catálogo de libros disponibles para préstamo. Desde novelas hasta manuales académicos, encontrarás el libro perfecto para ti.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Acceso Digital</h4>
                <p class="text-secondary">Además de los libros físicos, ofrecemos acceso a una amplia gama de libros y recursos en formato digital, accesibles desde cualquier lugar y en cualquier momento.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Clubes de Lectura</h4>
                <p class="text-secondary">Organizamos clubes de lectura donde los miembros pueden discutir libros, compartir opiniones y fomentar el amor por la lectura en comunidad.</p>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container text-dark">
        <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase">Sobre Nosotros</h2>
            <h3 class="section-subheading text-secondary small">Descubre nuestra historia, de humildes comienzos a ser una referencia.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/inicio.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1987</h4>
                        <h4 class="subheading">Nuestros Humildes Comienzos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-secondary">En 1987, un grupo de entusiastas de los libros se unió para crear una pequeña biblioteca comunitaria, con el sueño de fomentar la lectura en nuestra ciudad. A pesar de las dificultades, este esfuerzo inicial puso las bases para lo que hoy somos.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/iniciop2.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1995</h4>
                        <h4 class="subheading">Expansión Local</h4>
                    </div>
                    <div class="timeline-body"><p class="text-secondary">A partir de 1995, logramos expandir nuestra biblioteca a varias ubicaciones en la ciudad, convirtiéndonos en un referente local para la educación y la lectura. Establecimos programas de lectura para jóvenes y adultos, apoyando el crecimiento intelectual de la comunidad.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/inicio3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2003</h4>
                        <h4 class="subheading">Digitalización de Recursos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-secondary">En 2003, decidimos dar un paso más allá y comenzamos a digitalizar nuestros recursos. Esto nos permitió ofrecer acceso en línea a libros y materiales educativos, ampliando significativamente nuestra audiencia y mejorando el acceso a la información.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/inicio4.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015</h4>
                        <h4 class="subheading">Reiniciamos Nuestra Misión</h4>
                    </div>
                    <div class="timeline-body"><p class="text-secondary">En 2015, nuestra misión se renovó con el objetivo de adaptarnos a los nuevos tiempos. Abrazamos las nuevas tecnologías, la cultura digital y empezamos a implementar proyectos educativos y culturales innovadores, consolidándonos como una institución clave en la ciudad.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/inicio5.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020</h4>
                        <h4 class="subheading">Fase de Expansión Nacional</h4>
                    </div>
                    <div class="timeline-body"><p class="text-secondary">En 2020, abrimos sucursales en otras ciudades, expandiendo nuestro alcance a nivel nacional. Durante este período, comenzamos a ofrecer servicios de préstamo de libros a domicilio, y aumentamos la oferta de libros electrónicos y recursos educativos digitales.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        ¡Sé Parte
                        <br />
                        De Nuestra
                        <br />
                        Historia!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
